body {

    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.lets-help {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;

}

.help-today {
    text-align: center;
    color: white;
    padding-top: 100px;
}

h1 {
    font-size: 50px;
}

.button-link {
    background-color: #FF5959;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;

}

.donate-today {
    text-align: center;
}

.donate-plan {
    text-align: center;
}

.donate-plan-options {
    display: flex;
    width: 90%;
    margin-left: 50px;
}

.food-for-family {
    background-color: #4F9DA6;
    margin: 10px;
    padding: 50px;
}

.shelter-for-family {
    margin: 10px;
    background-color: #FF5959;
    padding: 50px;
}

.education-for-child {
    margin: 10px;
    background-color: #FFF4D6;
    padding: 50px;
}

.life-depend {
    display: flex;
    margin: 80px;
    padding: px;
}

.life-img {
    width: px;
    height: ;
    margin: px;
    padding: px;


}

.life-text {
    margin: px;
}

.half-width {
    width: 50%;

}

.half-width img {
    width: 100%;
    border-radius: 10px;
    height:100%;
}
footer{
    background-color: black;
    text-align: center;
}
#footer-h1{
    color: #FF5959;
}
#footer-p{
    color: white;
}
.updates{
    text-align: center;
}